@model prueba.Models.FormsViewModel.RazonSocialViewModel
@{
    ViewBag.Title = "Editar Razon Social";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "RazonSocial", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.HiddenFor(d => d.Id)
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("error", new { @class = "text-danger" })
            @Html.LabelFor(d => d.Descripcion)
            @Html.TextBoxFor(d => d.Descripcion, new { @class = "form-control" })
            <span>@Html.ValidationMessage("Descripcion", new { @class = "text-danger" })</span><br />
            <button class="btn btn-block btn-success" type="submit">Guardar Cambios</button>
        }
    </div>
</div>