@model List<prueba.Models.TableViewModel.PaisTableViewModel>
@{
    ViewBag.Title = "Lista Pais";
}
<hr />
<button class="btn btn-primary btn-block" onclick="document.location.href='@Url.Content("~/Pais/Add")'">Agregar Pais</button>
<hr />
<table class="table table-bordered table-hover">
    <thead style="color:white;background-color:black">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @*@for (int i=0;i<ViewBag.Pais.Length;i++)
            {
            <tr>
                <th>@i</th>
                <td>@ViewBag.Pais[i]</td>
            </tr>
            }*@
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <td>@item.Descripcion</td>
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-warning" onclick="document.location.href='@Url.Content("~/Pais/Edit/"+item.Id)'">Editar</button>
                        <button class="btn btn-danger" onclick="jsDelete(@item.Id)">Eliminar</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function jsDelete(id) {
        if (confirm("¿Esta seguro de querer eliminar?")) {
            url = "@Url.Content("~/Pais/Delete")" + "/" + id;

            $.post(url, function (data) {
                if (data == "1") {
                    document.location.href = "@Url.Content("~/Pais/")";
                } else {
                    alert("Ocurrio un error");
                }
            });
        }
    }
</script>